In [ ]:
#导入库
import pandas as pd
import numpy as np
#让 DataFrame 显示所有列
pd.set_option('display.max_columns', None)

In [ ]:
from IPython.core.interactiveshell import InteractiveShell  
InteractiveShell.ast_node_interactivity = 'all'
#默认情况下，下一个代码单元格里只有最后一行代码print(date)的结果会显示出来。
#设置为 'all' 后，单元格里所有行代码的结果都会显示

In [ ]:
date =pd.read_csv('000001.csv')# 这是导入CSV文件的命令
date #以DataFrame 表格形式展示
print(date)

             Day  Preclose      Open   Highest    Lowest     Close
0     1990/12/19              96.050    99.980    95.790    99.980
1     1990/12/20     99.98   104.300   104.390    99.980   104.390
2     1990/12/21    104.39   109.070   109.130   103.730   109.130
3     1990/12/24    109.13   113.570   114.550   109.130   114.550
4     1990/12/25    114.55   120.090   120.250   114.550   120.250
...          ...       ...       ...       ...       ...       ...
8468   2025/8/25  3825.759  3848.163  3883.562  3839.972  3883.562
8469   2025/8/26  3883.562  3871.471  3888.599  3859.758  3868.382
8470   2025/8/27  3868.382  3869.612  3887.198  3800.350  3800.350
8471   2025/8/28   3800.35  3796.711  3845.087  3761.422  3843.597
8472   2025/8/29  3843.597  3842.823  3867.606  3839.206  3857.927

[8473 rows x 6 columns]

             Day  Preclose      Open   Highest    Lowest     Close
0     1990/12/19              96.050    99.980    95.790    99.980
1     1990/12/20     99.98   104.300   104.390    99.980   104.390
2     1990/12/21    104.39   109.070   109.130   103.730   109.130
3     1990/12/24    109.13   113.570   114.550   109.130   114.550
4     1990/12/25    114.55   120.090   120.250   114.550   120.250
...          ...       ...       ...       ...       ...       ...
8468   2025/8/25  3825.759  3848.163  3883.562  3839.972  3883.562
8469   2025/8/26  3883.562  3871.471  3888.599  3859.758  3868.382
8470   2025/8/27  3868.382  3869.612  3887.198  3800.350  3800.350
8471   2025/8/28   3800.35  3796.711  3845.087  3761.422  3843.597
8472   2025/8/29  3843.597  3842.823  3867.606  3839.206  3857.927

[8473 rows x 6 columns]